.process-component {
    padding: 4% 0 0;
    background: var(--secondary-background);
}

    /*----------------- working section -------------------*/
.working-section {
    padding: 0 3%; 
}

.working-header h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 25px;
}

.working-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2%;
}

.working-item {
    flex-basis: 48%;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding-bottom: 30px;
}

.working-details h3 {
    margin-bottom: 10px;
    color: var(--soft-black);
}

.working-details p {
    color: var(--gray-text);
}


    /*----------------- process container -------------------*/
.process-container {
    padding: 6% 0 10%;
    display: flex;
    justify-content: center;
}

.process-wrapper {
    display: flex;
    width: 45%;
    flex-direction: column;
}

.process-header h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 75px;
}

.process-step {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
}

.process-connector {
    position: absolute;
    width: 2px;
    height: 100%;
    left: 23px;
    top: 0;
    background-image: repeating-linear-gradient( to bottom, #969696,  #969696 6px,  transparent 2px,  transparent 10px );
}

.step-icon {
    padding: 12px;
    cursor: pointer;
    background: var(--orange-soft);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    color: var(--secondary-background);
}

.step-details {
    padding-bottom: 90px;
}

.step-details-last {
    padding-bottom: 80px;
}

.step-details span {
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
}

.step-details h2 {
    font-weight: 500;
    margin: 8px 0 20px;
}

.step-details p {
    color: var(--gray-text);
}

.process-button {
    position: relative;
}

.process-button-border {
    position: absolute;
    width: 80px;
    height: 2px;
    left: 23px;
    top: 0;
    background-image: repeating-linear-gradient( to right, #969696,  #969696 6px,  transparent 2px,  transparent 10px );
}

.process-button button {
    position: absolute;
    left: 80px;
    top: -24px;
    border: none;
    outline: none;
    padding: 13px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    color: var(--secondary-background);
    background: var(--orange-soft);
}


    /*----------------- check us -------------------*/
.check-us {
    padding: 0 2% 4%;
    background: #000000;
}

.check-us-header {
    padding: 40px 0 30px 30%;
}

.check-us-header h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    color: var(--secondary-background);
}

.checkUs-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;    
}

.checkUs-image img {
    width: 35%;
}

.check-us-button {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-us-button button {
    border: none;
    outline: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    background: var(--green-deep);
    color: var(--secondary-background);
}



    /*----------------MEDIA QUERYING---------------*/
@media screen and (max-width: 770px) {
    .process-component {
        padding-top: 20%;
    }

    /*----------------- working section -------------------*/
    .working-section {
        padding: 0 4%;
    }
    .working-header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 25px;
    }

    .working-header h2 {
        font-size: 30px;
        width: 80%;
        text-align: center;
    }

    .working-items {
        flex-direction: column;
    }

    .working-details h3 {
        font-weight: 600;
    }

    /*----------------- process container -------------------*/
    .process-container {
        padding: 70px 2% 100px 3%; 
        padding-bottom: 100px;
    }
    
    .process-wrapper {
        width: 96%;
    }

    .process-header h2 {
        font-size: 31px;
    }

    .process-step {
        gap: 20px;
    }

    .step-details {
        padding-bottom: 50px;
    }

    .step-details span {
        font-size: 14px;
    }

    .step-details h2 {
        font-size: 21px;
    }

    .step-details-last {
        padding-bottom: 80px;
    }

    /*----------------- check us -------------------*/
    .check-us {
        padding: 0 2% 50px;
    }

    .checkUs-image img {
        width: 85%;
    }

    .check-us-header {
        padding: 40px 2%;
    }

    .check-us-header h2 {
        font-size: 25px;
    }

    .check-us-button {
        padding-top: 0;
    }

    .check-us-button button {
        font-size: 16px;
    }
}