.works {
    background: var(--secondary-background); 
}


  /*----------------- works top -------------------*/
.works-top {
    padding: 3% 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.works-top h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.works-search {
    border: 2px solid rgba(0, 0, 0, 0.788);
    border-radius: 8px;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 10px;
}

.works-search input {
    flex: 1;
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    color: black;
    margin-left: 10px;
}

.works-search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 5px;
    color: var(--secondary-background);
    background: var(--orange-soft);
    cursor: pointer;
}


  /*----------------- works container -------------------*/
.works-container {
    padding: 4% 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works-item {
    flex-basis: 48%;
    margin-bottom: 4%;
    border-radius: 8px;
    box-shadow: var(--shadow-deeper);
    display: flex;
    flex-direction: column;
}

.works-item-image {
    width: 100%;
}

.works-item-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    aspect-ratio: 1/0.35;
}

.works-item-desc {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
}
 
.works-item-desc h3 {
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 30px;
}

.works-read-more button {
    border: 2px solid var(--orange-soft);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    padding: 5px 20px;
    background: transparent;
    font-size: 17px;
    cursor: pointer;
}

.works-read-more button:hover {
    background: var(--orange-soft);
    color: var(--secondary-background);
}



   /*--------------MEDIA QUERY AND SCREEN--------------*/
@media screen and (max-width: 770px) {
      /*----------------- works top -------------------*/
    .works-top {
        padding: 10% 2% ;
    }

    .works-top h2 {
        font-size: 30px;
    }

    .works-search {
        width: 98.5%;
    }


      /*----------------- works container -------------------*/
    .works-container {
        padding: 4% 3%;
    }

    .works-item {
        flex-basis: 100%;
        margin-bottom: 35px;
    }
}