.expertise {
    padding: 0;
}

/*----------------- expertise top -------------------*/
.expertise-top {
    padding: 6% 4% 0;
    position: relative;
    background: var(--secondary-background);
}

.expertise-header {
    padding-bottom: 4%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.expertise-header h2 {
    font-size: 35px;
    font-weight: 600;
    width: 40%;
    letter-spacing: 1px;
    line-height: 45px;
}

.expertise-header-link {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 0 30px 15px 0;
    border-bottom: 2px solid rgb(37, 37, 37);
    cursor: pointer;
}

.expertse-header p {
    font-size: 17px;
    font-weight: 500;
}

.expertise-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 500;
    position: relative;
}

.expertise-item {
    flex-basis: 31%;
    padding-bottom: 50px;
}

.expertise-icon {
    padding-bottom: 10px;
}

.expertise-item h3 {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 15px;
    line-height: 35px;
}

.expert-desc {
    font-weight: 500;
    line-height: 25px;
    color: #262e35;
}

.clip-bottom-circle {
    position: absolute;
    bottom: -150px;
    background: var(--secondary-background);
    width: 120%;
    left: -10%;
    height: 18rem;
    clip-path: ellipse(50% 45% at 50% 50%);
}

  /*----------------- expertise bottom -------------------*/
.expertise-bottom {
    position: relative;
    z-index: 50;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

.expertise-card {
    width: 75%;
    border-radius: 15px;
    border: 1px solid gray;
}

.expertise-card-top {
    padding: 20px 30px;
    border-radius: 10px 10px 0 0;
    background: #52606D;
    color: var(--secondary-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expertise-card-top p {
    font-weight: 500;
    font-size: 23px;
}

.experties-card-sources {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20%;
    color: var(--primary-background);
}

.expertise-card-body {
    padding: 55px 30px 80px;
    background: #3D4751;
    display: flex;
    align-items: center;
    gap: 10%;
    color: var(--secondary-background);
}

.expertise-card-left h3 {
    font-size: 32px;
    font-weight: 600;
}

.expertise-card-right p {
    font-size: 18px;
    line-height: 27px;
}

.expertise-card-bottom {
    border-top: 2px solid gray;
    background: #3D4751;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-background);
    padding: 25px 20px;
}

.expertise-card-arrows {
    display: flex;
    align-items: center;
    gap: 8px;
}

.expertise-card-bulletes {
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
}

.expertise-bullete {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--primary-background);
}

    /*----------------- tech stack -------------------*/
.tech-stack {
    padding: 8% 0 4%;
}

.techStack-top {
    padding: 0 2%;
}

.tech-stack h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 25px;
}

.techStack-desc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.techStack-desc p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    width: 40%;
    color: var(--text-color);
}

.techStack-marquee {
    padding-top: 50px;
}

.marquee-top {
    padding-bottom: 15px;
}

.marquee-item {
    padding: 0 30px;
    cursor: pointer;
}

.marquee-item p {
    font-weight: 700;
    font-size: 45px;
    color: var(--gray-soft);
    font-family: 'Poppins', sans-serif;
}

.marquee-item:hover p {
    color: var(--orange-soft);
}

.techStack-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

.techStack-stack-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 8px;
    padding-right: 25px;
    cursor: pointer;
    border-bottom: 2px solid black;
}

.techStack-link p {
    font-size: 17px;
    font-weight: 500;
}


@media screen and (max-width: 770px) {
    
    /*----------------- expertise top -------------------*/
    .expertise-top {
        padding-top: 40px;
    }

    .expertise-header {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 50px;
    }

    .expertise-header h2 {
        font-size: 28px;
        width: 100%;
        margin-bottom: 60px;
        line-height: normal;
    }

    .expertise-header-link {
        padding: 0 20px 10px 0;
    }

    .expertise-item {
        flex-basis: 100%;
        padding-bottom: 40px;
    }

    .expertise-item h3 {
        font-size: 24px;
    }


    /*----------------- expertise bottom -------------------*/
    .expertise-card {
        width: 92%;
    }

    .expertise-card-top {
        padding: 20px 15px;
    }

    .expertise-card-top p {
        font-size: 18px;
    }

    .experties-card-sources {
        display: none;
    }

    .expertise-card-body {
        gap: 20px;
        padding: 55px 15px 70px;
        align-items: flex-start;
        flex-direction: column;
    }

    .expertise-card-bottom {
        padding: 25px 10px;
    }

    .expertise-card-arrows {
        gap: 2px;
    }

    /*----------------- tech stack -------------------*/
    .tech-stack {
        padding: 80px 0;
    }

    .tech-stack h2 {
        font-weight: 600;
        line-height: 40px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .techStack-desc p {
        width: 90%;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
    }

    .marquee-item {
        padding: 0 15px;
    }

    .marquee-item p {
        font-size: 30px;
    }

    .techStack-link {
        padding-top: 40px;
    }

    .techStack-stack-item {
        padding-right: 20px;
    }

    .techStack-link p {
        font-size: 16px;
    }
}