.home-container {
    padding-bottom: 400px;
}


  /*----------------- hero -------------------*/
.hero {
    height: calc(100vh);
    max-height: 600px;
    padding: 5% 2% 4%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image: linear-gradient(90deg, #f5f5f5, 60%, #ffffffd5, 80%, #ffffff00), url('/public/assets/background.jpg');
}

.hero-tagline {
    font-size: 56px;
    font-weight: 500;
    width: 45%;
}

.hero-animated-text {
    color: var(--orange-soft);
}

.hero-wobby-text {
    font-size: 56px;
    font-weight: 500;
}

.hero-desc {
    padding-top: 35px;
}

.hero-desc p {
    font-size: 22px;
    color: var(--text-color);
}

.hero-button button {
    margin-top: 40px;
    padding: 15px 18px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: var(--secondary-background);
    background: var(--orange-soft);
}

.clip-top-circle {
    position: absolute;
    bottom: -210px;
    background: var(--secondary-background);
    width: 120%;
    left: -10%;
    height: 18rem;
    clip-path: ellipse(50% 45% at 50% 50%);
}

  /*----------------- home companies -------------------*/
.home-companies {
    padding-top: 4%;
    min-height: 200px;
    z-index: 10;
    position: relative;
    background: var(--secondary-background);
}

   
   /*--------------MEDIA QUERY AND SCREEN--------------*/
@media screen and (max-width: 770px){
    .hero {
        height: calc(100vh - 160px);
        max-height: none;
        padding-top: 20%;
        background-image: linear-gradient(#dfdfdf, 60%, #ebebebef, 80%, #bdbdbdcb), url('/public/assets/background.jpg');
    }

    .hero-tagline {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        width: 100%;
    }

    .hero-animated-text {
        text-align: center;
    }

    .hero-wobby-text {
        margin-top: 5px;
        font-size: 38px;
        font-weight: 500;
    }

    .hero-desc {
        text-align: center;
        padding: 30px 5% 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-desc p {
        font-size: 17px;
        color: rgb(70, 70, 70);
    }

    .hero-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-button button {
        padding: 12px 18px;
        font-weight: 500;
        font-size: 18px;
    }

    .clip-top-circle {
        bottom: -230px;
        width: 120%;
        left: -10%;
        height: 18rem;
        clip-path: ellipse(60% 45% at 50% 50%);
    }
}