.home-container {
    padding-bottom: 0;
}


  /*----------------- hero -------------------*/
.hero {
    height: calc(100vh);
    max-height: 615px;
    padding: 5% 2% 4%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image: linear-gradient(90deg, #f5f5f5, 60%, #ffffffd5, 80%, #ffffff00), url('/assets/background.jpg');
}

.hero-tagline {
    font-size: 56px;
    font-weight: 500;
    width: 45%;
}

.hero-animated-text {
    color: var(--orange-soft);
}

.hero-wobby-text {
    font-size: 56px;
    font-weight: 500;
}

.hero-desc {
    padding-top: 35px;
    width: 50%;
}

.hero-desc p {
    font-size: 22px;
    line-height: 32px;
    color: var(--text-color);
}

.hero-button button {
    margin-top: 40px;
    padding: 15px 18px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: var(--secondary-background);
    background: var(--orange-soft);
}

.clip-top-circle {
    position: absolute;
    bottom: -210px;
    background: var(--secondary-background);
    width: 120%;
    left: -10%;
    height: 18rem;
    clip-path: ellipse(50% 45% at 50% 50%);
}

  /*----------------- home companies -------------------*/
.home-companies {
    padding: 2%;
    min-height: 200px;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: var(--secondary-background);
}

.home-companies-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.home-companies-wrapper h2 {
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: var(--text-color);
}

.orange-dot {
    color: var(--orange-soft);
    font-size: inherit;
}

.companies-containers {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.company-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 30%;
    margin-bottom: 30px;
    flex-direction: column;
}

.company-logo svg {
    fill: var(--text-color);
}

.company-logo p {
    margin-top: 3px;
    font-size: 14px;
    cursor: pointer;
    color: var(--orange-soft);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.company-logo p svg {
    fill: var(--orange-soft);
}
   
   /*--------------MEDIA QUERY AND SCREEN--------------*/
@media screen and (max-width: 770px) {

    /*----------------- hero -------------------*/
    .hero {
        height: calc(100vh - 140px);
        max-height: none;
        padding-top: 20%;
        background-image: linear-gradient(#dfdfdf, 60%, #ebebebef, 80%, #bdbdbdce), url('/assets/background.jpg');
    }

    .hero-tagline {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        width: 100%;
    }

    .hero-animated-text {
        text-align: center;
    }

    .hero-wobby-text {
        margin-top: 5px;
        font-size: 38px;
        font-weight: 500;
    }

    .hero-desc {
        text-align: center;
        padding: 30px 4% 0;
        display: flex;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hero-desc p {
        font-size: 17px;
        color: #464646;
        line-height: 26px;
    }

    .hero-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-button button {
        padding: 12px 18px;
        font-weight: 500;
        font-size: 18px;
    }

    .clip-top-circle {
        bottom: -220px;
        width: 120%;
        left: -10%;
        height: 18rem;
        clip-path: ellipse(60% 45% at 50% 50%);
    }

    
    /*----------------- home companies -------------------*/
    .home-companies-wrapper {
        width: 95%;
        padding: 4% 0 5%;
    }

    .home-companies-wrapper h2 {
        font-size: 1.75rem;
        line-height: 40px;
    }

    .companies-containers {
        justify-content: space-between;
    }

    .company-logo {
        flex-basis: 28%;
        margin-bottom: 35px;
    }

    .company-logo svg {
        max-width: 100%;
    }

    .company-logo p {
        font-size: 13px;
        display: -webkit-box;          
        -webkit-box-orient: vertical;  
        -webkit-line-clamp: 1;  
        line-clamp: 1;       
        overflow: hidden;              
        text-overflow: ellipsis;
    }
}