:root {
  --primary-background: #f1f1f1;
  --secondary-background: #fff;
  --deep-background: #cccccc;
  --tertiary-background: #D9DCDF;
  --text-color: #52606D;
  --gray-text: #5a5a5a;
  --gray-soft: #9e9e9e;
  --soft-black: #111111;
  --green-accent: #4CAF50;
  --green-deep: #107C5A;
  --orange-soft: #fa521f;
  --orange-accent: #FF9800;
  --blue-cta: #2196F3;
  --blue-hover: #1976D2;
  --border-color: #ddd;

  --shadow-light: 0 2px 4px rgba(0,0,0,0.1);
  --shadow-medium: 0 4px 8px rgba(0,0,0,0.1);
  --shadow-deeper: 0 0 5px 0 rgba(0, 0, 0, 0.904);
}

.bold {
  font-weight: 600;
}

.SMALLSCREEN {
  display: none;
}

.LARGESCREEN {
  display: block;
}


   /*--------------MEDIA QUERY AND SCREEN--------------*/
@media screen and (max-width: 770px) {
  .SMALLSCREEN {
    display: block;
  }

  .LARGESCREEN {
    display: none;
  }
}